<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Activity</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="activity" class="tabcontent">-->
<!--    <h2>Activity</h2>-->
<!--    <ul>-->
<!--        <li th:each="summary : ${activitySummary}">-->
<!--            <p th:text="'User ID: ' + ${summary.userId} + ' - Activity Type: ' + ${summary.activityType} + ' - Activity Time: ' + ${summary.activityTime}"></p>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
