<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- 导航栏或顶部欢迎信息 -->
<div class="navbar">
    <span>Welcome, <span th:text="${session.username}"></span>!</span>
    <a href="/logout">Logout</a>
</div>
<h1>Welcome to the Interest Circle</h1>
<nav>
    <ul>
        <li><a href="/circles">Interest Circles</a></li>
<!--        <li><a href="/post">New Post</a></li>-->
<!--        <li><a href="/profile">Profile</a></li>-->
<!--        <li><a href="/activity">Activity</a></li>-->
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>

    </ul>
</nav>
<div>
    <!-- You can add more content here as needed -->
</div>
</body>
</html>
