<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts by Tag</title>
    <link rel="stylesheet" href="/css/posts_by_tag.css">
</head>
<body>
<!--<h1 th:text="${circle.name}">Circle Name</h1>-->

<h1><span th:text="${tag.name}">Tag Name</span></h1>

<div class="post-list">
    <ul>
        <li th:each="post : ${posts}">
            <a th:href="@{'/posts/' + ${post.id}}">
                <p th:text="${post.title}">Post Title</p>
            </a>
        </li>
    </ul>
</div>

<!-- Link to go back to the interest circle detail page -->
<a th:href="@{'/circles/' + ${circle.id}}">Back to Circle</a>

</body>
</html>
