<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>User Profile</title>-->
<!--    <link rel="stylesheet" href="/css/style.css">-->
<!--</head>-->
<!--<body>-->
<!--<h1>Your Profile</h1>-->

<!--<div th:if="${not #strings.isEmpty(username)}">-->
<!--    <p>Username: <span th:text="${username}"></span></p>-->
<!--    <p>Email: <span th:text="${email}"></span></p>-->
<!--    &lt;!&ndash; 其他个人信息，例如头像、注册时间等 &ndash;&gt;-->
<!--</div>-->

<!--<div th:if="${#strings.isEmpty(username)}">-->
<!--    <p>No user information available</p>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
